html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}



html {
    font-size: 62.5%;
}

.top-section {
    height: 85vh;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 3vw;
    float: left;
    height: 85vh;
    background: lightgray;
    margin-right: 1rem;
    /* margin: 0%; */
    /* border: 1px solid red; */
}

.side-nav i {
    /* font-size: large; */
    margin: auto;
    /* width: 1rem; */
    /* color: black; */
}

.top-content {
    background: #423e32;
    margin-left: 3vw;
    /* padding: 5rem; */
    height: 30vh;
    width: 97vw;
    /* display: inline-block; */
    /* border: 1px solid blue; */
}

.content-image {
    width: 15rem;
    height: 15rem;
    float: left;
    padding: 2.2rem;
}

.playlist-description {
    margin-left: 20rem;
    padding: 2.2rem;
    color: #e3e2de;
}

.playlist-description h1 {
    font-size: large;
}

.playlist-options {
    margin-left: 20rem;
    padding: 2.2rem;
    color: #e3e2de;
    position: relative;
    top: 0.5rem;
    left: -0.5rem;
}

.playlist-options i {
    margin: 0.3rem;
}

.playlist {
    height: 30vh;
    /* margin: 0; */
    /* display: inline-block; */
    width: 94vw;
    /* box-sizing: border-box; */
    border-collapse: collapse;
}

.playlist td {
    padding: 0.5rem;
}

.playlist tr {
    text-align: center;
}

.playlist tr:nth-child(2n) {
    background-color: lightgray;
}

.footer {
    /* width: 100vw; */
    height: 11.9vh;
    background: #6075b5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.outer-container {
    width: 15rem;
    height: 11.9vh;
    display: flex;
    flex-direction: row;
}

.footer-image {
    width: 11vh;
    height: 11vh;
    float: left;
}

#inner-container {
    align-self: center;
}

#inner-container p {
    margin: 2rem 0.5rem;
    color: white;
}

.song-controls i {
    padding: 0 3rem;
    color: white;
}

.song-controls {
    align-self: center;
}